server:
  port: 8085
spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: posts
          uri: lb://post-service
          predicates:
            - Path=/api/*/posts/**
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/api/*/users/**
        - id: auth
          uri: lb://auth-service
          predicates:
            - Path=/api/*/tokens/**
        - id: notifications
          uri: lb://notification-service
            - Path=/api/*/notifications
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org:
      springframework:
        cloud:
          loadbalancer: error

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
    health:
      show-details: always