server:
  port: 8085
  ssl:
    enabled: true
    key-store-type: PKCS12
    key-store: classpath:keystore/ko2.p12
    key-store-password: ${KEY_STORE_PASSWORD}
    key-alias: ko2

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: posts
          uri: lb://post-service
          predicates:
            - Path=/api/*/posts/**
          metadata:
            cors:
              allowedOrigins: ${frontend.origin}
              allowedMethods:
                - GET
                - OPTION
              allowCredentials: true
              allowedHeaders: '*'
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/api/*/users/**
          metadata:
            cors:
              allowedOrigins: http://localhost:5173
              allowedMethods:
                - GET
                - POST
                - OPTIONS
              allowedHeaders: '*'
              allowCredentials: true

        - id: auth
          uri: lb://auth-service
          predicates:
            - Path=/api/*/tokens/**
        - id: notifications
          uri: lb://notification-service
          predicates:
            - Path=/api/*/notifications
        - id: websocket
          uri: lb:ws://notification-service
          predicates:
            - Path=/ws-endpoint/**
          metadata:
            cors:
              allowedOrigins: ${frontend.origin}
              allowedMethods:
                - GET
                - OPTION
                - POST
              allowedHeaders: '*'
              allowCredentials: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials


eureka:
  client:
    service-url:
      defaultZone: http://${SERVICE_DISCOVERY_HOST}:8761/eureka

logging:
  level:
    org:
      springframework:
        cloud:
          loadbalancer: TRACE
          gateway: TRACE

management:
  endpoints:
    web:
      exposure:
        include: 'prometheus' #health, info, metrics
    health:
      show-details: always

frontend:
  origin: ${FRONTEND_ORIGIN:http://localhost:5173}
  originHTTPS: https://localhost:5173