server:
  port: 8085
spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: posts
          uri: lb://post-service
          predicates:
            - Path=/api/*/posts/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org:
      springframework:
        cloud:
          loadbalancer: error